

.description {
  color: rgb(117, 117, 117)
}

.price {
  font-weight: bold;
}

.images {
  max-height: 300px
}

.nav {
  margin-right: 10px;
}

form {
  width: 30%;
  margin: auto;
  margin-top: 20%
}

.signupPage {
  background-color: rgb(104, 107, 103)
}
